.home-section{
  position: relative;
}

nav {  
  background-color: $color-3;
  height: 20vh;
  width: 100%;
  position: fixed;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(2, 1fr) min-content repeat(2, 1fr);
  grid-template-rows: repeat(3, 2fr);

  a {
    color: $color-7;
    text-decoration: none;
    font-family: $primary-font;
    font-size: 4vh;
  }

  .logo {
    grid-row-start: 1;
    grid-row-end: 4;
    z-index: 1;
  }

  
  .nav__link {
    background-color: $color-3;
  }

  .nav__home {
    @extend %flex-center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .nav__about {
    @extend %flex-center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .nav__projects {
    @extend %flex-center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }

  .nav__skills {
    @extend %flex-center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
  }
}

.landing-picture {
  height: 100vh;
  background-color: $color-3;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 2fr);
}

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 4vh;
  color: $color-3;
  font-family: $primary-font;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.big-image {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  overflow: hidden;

  img {
    width: 100%;
  }
}


.about-section {
  font-family: $primary-font;
  color: $color-7;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr min-content 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 3fr 2fr;

  .about__pic {
    @extend %flex-center;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .about__title {
    @extend %flex-center;
    font-size: 4vh;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    }

  .about__words {
    @extend %flex-center;
    font-size: 2vh;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.projects-section {
  font-family: $primary-font;
  background-color: $color-6;
  color: $color-7;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr repeat(6, 1fr);

  .projects__words {
    z-index: 1;
    font-size: 2vh;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .projects__pic {
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 13;
    overflow: hidden;
  
    img {
      width: 100%;
    }
  }
}